:root {
  --primaryColor: #0e5253;
  --secondaryColor: #ffc107;
  --whiteColor: #fff;
  --blackColor: #222;
  --softGreenColor: #d9f2ee;
  --darkGreyColor: #a7a7a7;
  --greyColor: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: auto;
  display: flex;
}

.sidebar {
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2%;
  background: var(--primaryColor);
  color: var(--whiteColor);
}

.sidebar .header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo .icon {
  font-size: 30px;
  color: var(--whiteColor);
}

.header-logo .close-sidebar {
  display: none;
}

.sidebar-menus {
  display: flex;
  flex-direction: column;
}

.sidebar-menus a,
.sidebar-logout a {
  padding: 5% 8%;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-decoration: none;
  color: var(--whiteColor);
}

.icon {
  font-size: 20px;
}

.sidebar-menus a:hover,
.sidebar-logout a:hover {
  background: var(--secondaryColor);
  border-radius: 50px;
  color: var(--blackColor);
}

.main {
  width: 100%;
  height: max-content;
  min-height: 100vh;
  padding: 2%;
  background: var(--softGreenColor);
  margin-left: 250px;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* menu for mobile view */
.menu-toggle {
  display: none;
}

.search {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  background: var(--whiteColor);
  border-radius: 20px;
}

.search input {
  width: 100%;
  height: 100%;
  padding: 20px;
  border: none;
  border-radius: 20px;
}

.search .search-btn {
  background: var(--secondaryColor);
  color: var(--whiteColor);
  border-radius: 20px;
  border: none;
  width: 120px;
  cursor: pointer;
}

.search:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart,
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--whiteColor);
  font-size: 20px;
  color: var(--primaryColor);
  text-decoration: none;
  padding: 0 10px;
  height: 40px;
  border-radius: 50%;
}

.cart:hover,
.user:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-highlight {
  margin: 3% 0;
  padding: 2%;
  background: var(--secondaryColor);
  border-radius: 8px;
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  font-size: 20px;
}

.main-arrow {
  font-size: 24px;
}

.back,
.next {
  cursor: pointer;
}

.back:hover,
.next:hover {
  color: var(--primaryColor);
}

.highlight-wrapper {
  width: 100%;
  display: flex;
  padding: 1%;
  border-radius: 8px;
  gap: 1.5rem;
  overflow-x: hidden;
}

.highlight-card {
  display: flex;
  min-width: 200px;
  width: 80%;
  height: 100%;
  gap: 1rem;
  border-radius: 8px;
  padding: 1%;
  background: var(--greyColor);
  cursor: pointer;
}

.highlight-img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.highlight-desc h4 {
  color: var(--primaryColor);
}

.highlight-desc p {
  color: var(--blackColor);
  font-size: 13px;
}

.highlight-card:hover {
  background: var(--whiteColor);
  box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
}

.main-menu {
  min-height: 100%;
  background: var(--greyColor);
  padding: 2%;
  border-radius: 8px;
}

.main-filter {
  width: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
}

.back-menus,
.next-menus {
  cursor: pointer;
}

.back-menus:hover,
.next-menus:hover {
  color: var(--primaryColor);
}

.filter-wrapper {
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  width: 100%;
  height: 100px;
  gap: 1.2rem;
}

.filter-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 80px;
  height: 100%;
  background: var(--whiteColor);
  color: var(--blackColor);
  border-radius: 8px;
  border: 1px solid var(--softGreenColor);
}

.filter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  font-size: 30px;
  background: var(--softGreenColor);
  color: var(--primaryColor);
  border-radius: 8px;
}

.filter-card:hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
}

.filter-card:hover .filter-icon {
  background: var(--whiteColor);
}

.divider {
  margin: 1rem 0;
  height: 1px;
  width: 100%;
  background: var(--primaryColor);
  border: none;
}

.main-details {
  margin: 1rem 0 1.5rem 0;
}

.details-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  margin-top: 1rem;
  gap: 2%;
  border-radius: 8px;
}

.details-card {
  min-height: 280px;
  height: 100%;
  background: var(--whiteColor);
  border-radius: 8px;
  margin: 5% 0;
  box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.details-card button {
  width: 80%;
  margin: 0 auto;
  padding: 3px;
  border-radius: 15px;
  border: none;
  background: var(--primaryColor);
  color: var(--whiteColor);
}

.details-card button:hover {
  background: var(--secondaryColor);
  color: var(--primaryColor);
}

.details-img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.8);
}

.details-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3%;
  width: 100%;
}

.details-sub {
  font-size: 14px;
  color: var(--darkGreyColor);
  letter-spacing: 0.5;
  margin: 1% 0;
}

.price {
  color: var(--primaryColor);
}

.details-favorites {
  font-size: 24px;
}

.details-card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.details-card:hover .details-img {
  filter: opacity(1);
}

.details-card:hover .details-name h4 {
  color: var(--primaryColor);
}

.details-card:hover .price {
  letter-spacing: 1.5;
}

/* Cart Popup Design */

.cart-count {
  font-size: 14px;
  padding-left: 3px;
}

.cart-popup {
  display: none;
  background: var(--whiteColor);
  position: fixed;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  top: 15%;
  right: 1%;
  font-size: 14px;
  padding: 20px;
  border-radius: 8px;
  z-index: 100;
  box-shadow: rgb(14, 98, 83, 0.4) 0px 30px 90px;
}

.cart-popup.active {
  display: block;
}

#cart-items {
  margin-top: 10px;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}

#cart-items th {
  min-width: 50px;
  background: var(--primaryColor);
  color: var(--whiteColor);
  padding: 5px;
}

#cart-item tr:nth-child(even) {
  background: var(--softGreenColor);
}

#cart-item td {
  min-height: 50px;
  padding: 5px;
  text-align: right;
}

.cart-popup p {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 5px;
  font-weight: 600;
}

.cart-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  color: var(--blackColor);
}
